{%load static%}
<!DOCTYPE html>
<html>
<head>
  <title>수업 진행상황</title>
  <link rel=stylesheet type="text/css" href="{%static 'prgwin.css'%}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>
    <div class="container">
    <h1>진행상황</h1>
    
    <div class=rowdata>  
        <table class=table1>
        <tr>
          <th>코드</th>
          <th>날짜</th>
          <th>학교</th>
          <th>구분</th>
          <th>미니구분</th>
          <th>수업</th>
          <th>강사</th>
          <th>인원</th>
          <th>시간</th>
          <th>장소</th>
        </tr>
        <tr>
          <td>{{class_obj.class_id}}</td>
              <td>{{class_obj.class_date}}</td>
              <td>{{sch_obj.sch_name}}</td>
              <td>{{class_obj.class_cate}}</td>
              <td>{{classstat_obj.class_minicate}}</td>
              <td>{{classstat_obj.class_title}}</td>
              <td>{{class_obj.class_teakey.tea_name}}</td>
              <td>{{class_obj.class_stunum}}</td>
              <td>{{class_obj.class_time}}</td>
              <td>{{class_obj.class_place}}</td>
              <td><a href="update/"><button>수업정보수정</button></a></td>
        </tr>
          </table>
    </div>


    <form class="addclass"  method="POST" action=".">{% csrf_token %}
    <div class=progresstable>
    <h3>Progress Table</h3>
    <table class=table2>
        <tr>
          <th>진행</th>
          <th>내용</th>
          <th>기한</th>

        </tr>
        <tr>
          <td>수업문의</td>
              <td>  <input id="4" name="class_cont_call" type="checkbox" class="new-control-input" {%if class_obj.class_cont_call %} checked="checked" {%endif%} value="5">전화 
                    <input id="4" name="class_cont_message" type="checkbox" class="new-control-input" {%if class_obj.class_cont_message %} checked="checked" {%endif%} value="5">문자 
                    <input id="4" name="class_cont_email" type="checkbox" class="new-control-input" {%if class_obj.class_cont_email %} checked="checked" {%endif%} value="5">메일</td>
              <td>8/8</td>
        </tr>
                <tr>
          <td>서류제출</td>
              <td><input id="4" name="class_doc_plan" type="checkbox" class="new-control-input" {%if class_obj.class_doc_plan %} checked="checked" {%endif%} value="5">수업계획서
                    <br><input id="5" name="class_doc_preestim" type="checkbox" class="new-control-input" {%if class_obj.class_doc_preestim %} checked="checked" {%endif%} value="5">견적서
                    <br><input id="6" name="class_doc_tea" type="checkbox" class="new-control-input" {%if class_obj.class_doc_tea %} checked="checked" {%endif%} value="5">강사서류
                    </td>
              <td>8/8
                    <br>8/9
                    <br>8/10
                    </td>
        </tr>  
                 <tr>
          <td>재료주문</td>
              <td>{%for i in mat_obj%}
                        <input id="10" value="5" name="mat_order_done{{forloop.counter}}" id="id_mat_order_done{{forloop.counter}}" type="checkbox" class="new-control-input" {%if i.mat_order_done %} checked="checked" {%endif%} >{{i.mat_dyna}}    <input name="dyna_mat_num{{forloop.counter}}" value="{{i.dyna_mat_num}}" type="text"><br>
                    {%endfor%}</td>
              <td>
                    <br>8/8
                    <br>8/10
                     </td>
        </tr> 
                <tr>
          <td>도착확인</td>
          <td>{%for i in mat_obj%}

              
              <input id="10" value="5" name="mat_deliver_done{{forloop.counter}}" id="id_mat_deliver_done{{forloop.counter}}" type="checkbox" class="new-control-input" {%if i.mat_deliver_done %} checked="checked" {%endif%} ><label for="id_mat_deliver_done{{forloop.counter}}">{{i.mat_dyna}}</label><br>
              
          {%endfor%}</td>
              <td>8/9
                    <br>8/10
                     </td>
        </tr> 
                <tr>
          <td>수업준비</td>
              <td><input id="11" type="checkbox" class="new-control-input"  value="5">가죽 가공 작업</td>
                    <td>8/20</td>
        </tr> 
                <tr>
          <td><label for="id_class_ready"> 재료준비</label></td>
              <td><input name="class_ready" id="12" type="checkbox" class="new-control-input" {%if class_obj.class_ready %} checked="checked" {%endif%} id="id_class_ready" value="5">완료</td>
                    <td>8/20</td>
        </tr> 
                <tr>
          <td><label for="id_class_taken"> 강사수거</label></td>
              <td><input id="13" name="class_taken" type="checkbox" class="new-control-input" {%if class_obj.class_taken %} checked="checked" {%endif%} value="5">완료</td>
                    <td>8/20</td>
        </tr> 
                <tr>
          <td>도구반납</td>
              <td><input id="14" name="class_re_done" type="checkbox"  class="new-control-input" {%if class_obj.class_re_done %} checked="checked" {%endif%} value="5">완료</td>
                    <td>8/20</td>
        </tr> 
                <tr>
          <td>정산</td>
              <td><input id="15" name="class_doc_finestim" type="checkbox" class="new-control-input" {%if class_obj.class_doc_finestim %} checked="checked" {%endif%} value="5">견적서
                    <br>
                    <input id="16" name="class_cal_meth" type="radio" {%if class_obj.class_cal_meth == "계산서" %} checked="checked" {%endif%} class="new-control-input" value="계산서">계산서 
                    <input id="17" name="class_cal_meth" type="radio" {%if class_obj.class_cal_meth == "현금영수증" %} checked="checked" {%endif%} class="new-control-input"  value="현금영수증">현금영수증
                    <input id="18" name="class_cal_meth" type="radio" {%if class_obj.class_cal_meth == "카드결제" %} checked="checked" {%endif%} class="new-control-input"  value="카드결제">카드결제 
                    <input id="19" name="class_cal_meth" type="radio" {%if class_obj.class_cal_meth == "현금" %} checked="checked" {%endif%} class="new-control-input"  value="현금">현금
                    <br><input id="20" name="class_deposit_check" type="checkbox" class="new-control-input" {%if class_obj.class_deposit_check %} checked="checked" {%endif%} value="5">입금확인
                    </td>
                    <td>8/20
                    <br>8/22
                    <br>8/24
                    </td>
        </tr> 
          </table>    
          <button type="submit">저장</button>
    
 
  <div class="progress">
    <div class="progress-bar bg-primary" role="progressbar" style="" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <p class="task-quantity"></p>
</div>


    <div class=schinfo>
    <h4>School Infomation</h4>
        <table class=table3>
        <tr>
          <th>담당자</th>
                    <td>{{schtea_obj.schtea_name}}</td>
               </tr>
                <tr>
          <th>전화번호</th>
                    <td>{{schtea_obj.schtea_tel1}}</td>
               </tr>
               <tr>
          <th>이메일</th>
                    <td>{{schtea_obj.schtea_email}}</td>
               </tr>
                <tr>
          <th>학교코드</th>
                    <td>{{sch_obj.sch_code}}</td>
               </tr>
               <tr>
          <th>학교전화번호</th>
                    <td>{{sch_obj.sch_tel}}</td>
               </tr>
               <tr>
          <th>학교이메일</th>
          <td>{{sch_obj.sch_email}}</td>
               </tr>

          </table>
    </div>


    <div class=memo>
    <h5><label="id_memo"> Memo</label="id_memo"></h5>
        <textarea id="id_memo" name="memo" row="10" cols="47" >{{class_obj.memo}}</textarea>
        <button type='submit' class="button5">저장</button>
    </div>
</form>
    <div class=log>
    <h5>Log</h5>
    </div>
    
<script>
$('.progresstable').each(function(index, el) {
  var chkLength = $(this).find('input[type="checkbox"]').length;
  var max = 100;
  var div = max / chkLength;
  $('.scrumboard .progresstable .task-quantity').text('0/' + chkLength);
  $(this).find('input[type="checkbox"]').attr('value', div);
});

$('.progresstable .new-control-input').on('change', function(event) {
  var $checkbox = $(this);

  $checkbox.closest('.progresstable').find(".progress .progress-bar").css("width", function() {
    var width = $(this).data('width') || 0;
    if ($checkbox.is(':checked')) {
      width += parseInt($checkbox.val());
    } else {
      width -= parseInt($checkbox.val());
    }
    $(this).data('width', width);
    return width + "%";
  });
});
</script>


</body>
</html>