{% extends 'base/sidebar.html'%}
<!DOCTYPE html>


{% block content %}
{% load static %}
<html>
<head>
	<title>재료 추가</title>
		<link rel=stylesheet type="text/css" href="{% static 'styleaddwindow.css' %}">
		<link href="https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap" rel="stylesheet">
</head>

<body>
		<div class="main">
				<button class="button1" style="color: #fff" id="1"><a href="../">뒤로가기</a></button> 
				<button class="button2" type="button" 
				onclick="window.open('', '_self', ''); window.close();" id="2">X</button>
		<h2>수업 추가</h2>
	<form class="addclass" action="." method="POST"> {% csrf_token %}
			 <br>
			<br>
					<div class="title">
						<label for="id_mat_name">재료이름</label>
				<input type="text" name="mat_name" placeholder="수업을 입력하세요" id="id_mat_name">
						</div>
						<br>
					<div class="category">
						<label for="id_mat_shop">재료주문</label>
				<input type="text" name="mat_shop" placeholder="카테고리를 입력하세요" id="id_mat_shop">
						</div>
			<br>
					<div class="teacher">
						<label for="id_mat_price">가격</label>
				<input type="text" name="mat_price" placeholder="강사를 입력하세요" id="id_mat_price">
						</div>
			<br>
						<div class="count">
			<label for="id_mat_loc">위치</label>
				<input type="text" name="mat_loc" placeholder="회차를 입력하세요" id="id_mat_loc">
						</div>
			<br>
						<div class="number">
				<label for="id_mat_inven">재고</label>
				<input type="text" name="mat_inven" placeholder="인원을 입력하세요" id="id_mat_inven">
						</div>
		<br>
						
				<div class=submit>
					<button class="button3" type="submit">추가</button>
						</div>
		</form>
				
		</div>
		<script type="text/javascript" src="{% static 'filter.js' %}"></script>
</body>
</html>
{%  endblock %}