{% extends 'base/sidebar.html'%}

{% block content %}
<h1>{{ title }}</h1>
dsadsadsadsdsdasdasds

<div class="home">
	<a href="/home/">
	<button>home</button>
	</a>
	</br>

	<a href="/class/">
	<button>class</button>
	</a>

	</br>
	<a href="/school/">
	<button>school</button>
	</a>

	</br>
	<a href="/material/">
	<button>material</button>
	</a>

	</br>
	<a href="/material/tool/">
	<button>tool</button>
	</a>

	</br>
	<a href="/login/">
	<button>login</button>
	</a>

	</br>
	<a href="/register/">
	<button>register</button>
	</a>
</div>

{% endblock %}


