{% extends 'base/sidebar.html'%}
{%block content%}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Class Table</title>
  	<link rel="stylesheet" href="http://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">

	<style>

.button {
	color: white;
}
	</style>

</head>

<body link="#000000">

	<div class="container mb-5 mt-3">
		<table class="table table-striped table-bordered mydatatable" style="width:100%">
			<thead>
				
				<tr>
					<th>코드</th>
					<th>학교이름</th>
					<th>이메일</th>
					<th>주소</th>
					<th>전화번호</th>
				</tr>
				<a href="create/" style="color: #fff"><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">추가</button></a>
			</thead>
			<tbody>
				
				{% for i in object_list %}
				<tr>
				
					<td>{{i.sch_code}}</td>
      				<td>{{i.sch_name}}</td>
      				<td>{{i.sch_email}}</td>
      				<td>{{i.sch_address}}</td>
      				<td>{{i.sch_tel}}</td>
      				<td><a href="{{i.class_name}}/"><button>진행상황</button></a></td>
				
				</tr>
				{%endfor%}
			</tbody>
			<tfoot>
				<tr>
					<th>코드</th>
					<th>학교이름</th>
					<th>이메일</th>
					<th>주소</th>
					<th>전화번호</th>
				</tr>

			</tfoot>
		</table>
		{%block addbutton%}
		{%endblock%}
	</div>

	<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
  	<script src="http://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  	<script src="stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  	<script src="http://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  	<script src="http://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
  	<script>
  		$('.mydatatable').DataTable({
  			order: [[3, 'desc']],
  			paginType: 'full_numbers'
  		});
  	</script>

</body>
</html>
{%endblock%}